body {
 background-color: #f5faff;
}

p {
 text-align: justify;
 margin-bottom: 0;
 padding: 0;
 margin-top: 0.5em;
}

.talksTable {
 border-collapse: collapse;
 width: 100%;
 table-layout: fixed;
}
.talksTable th, td {
 text-align: center;
 padding: 0.3em;
 border: 1px solid #e8e8e8;
}
.talksTable th {
 font-size: 1.2em;
 padding: 0.25em;
}
.talksTable th {
 background-color: #dfe3e8;
}
.talksTable tr:nth-child(even) {
 background-color: #eff3f8;
}
.talksTable tr:nth-child(2n+3) {
 background-color: #f5faff;
}
.talksTable tr td:first-child {
 text-align: left;
}
.talksTable #currentTalk {
 background-color: #c6e8ff;
}

.Tooltip {
 position: relative;
 display: inline-block;
 border: none;
 margin: 0;
 padding: 0;
}
.Tooltip .tooltiptext {
 visibility: hidden;
 width: 12em;
 background-color: #555;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;
 position: absolute;
 z-index: 1;
 top: 135%;
 left: 50%;
 margin-left: -6em;
 opacity: 0;
 transition: opacity 0.3s;
}
.Tooltip .tooltiptext::after {
 content: "";
 position: absolute;
 bottom: 100%;
 left: 50%;
 margin-left: -5px;
 border-width: 5px;
 border-style: solid;
 border-color: transparent transparent #555 transparent;
}
.Tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}

.TelegramLinkBtn {
 border: 2px solid #c7c7c7;
 border-radius: 6px;
 padding-left: 2px;
 padding-right: 2px;
 cursor: pointer;
 background-color: inherit;
 font: inherit;
}

.seminar_logo_style {
 float: right;
 width: 692px;
 max-width: 25%;
 position: relative;
 margin-left: 1em;
 margin-right: 0px;
 margin-top: 0px;
}
.seminar_logo_style:before {
 content: "";
 display: block;
 padding-top: 134%;
}
.logo_img {
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
}
@media only screen and (max-width: 1200px) {
 .seminar_logo_style {
  max-width: 30%;
 }
}
@media only screen and (max-width: 800px) {
 .seminar_logo_style {
  max-width: 50%;
 }
}
@media only screen and (max-width: 400px) {
 .seminar_logo_style {
  max-width: 100%;
 }
}
